swimming_pool/flow.json
[{"id":"e54b160f.e9e4f8","type":"tab","label":"Piscine","disabled":false,"info":""},{"id":"df7ae9c2.ee3e18","type":"api-current-state","z":"e54b160f.e9e4f8","name":"Récupération de la T° de l'eau","server":"cfe85b65.cca4e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_number.pool_temperature","state_type":"str","state_location":"temperature","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":250,"y":740,"wires":[["e8e6c528.5d79d8"]]},{"id":"36f45a3b.b5e726","type":"function","z":"e54b160f.e9e4f8","name":"Calcul du temps de filtration","func":"// Pour assurer un temps minimum de filtration la temperature de calcul est forcée a 10°C\nvar temperature = Math.max(10, msg.temperature);\n\n// Calcul de la durée de filtration suivant l'équation\nvar duration = Math.floor(((0.00335 * Math.pow(temperature, 3)) + (-0.14953 * Math.pow(temperature, 2)) + (2.43489 * temperature) - 10.72859) * 60);\n// La durée de filtration ne peux etre inférieure à 3h et supérieure à 14h\nduration = Math.min(Math.max(duration, 3*60), 14*60);\nmsg.duration = duration;\n\n// On calcul les heures de début et de fin de filtration\nmsg.offset = {};\nmsg.offset.start = Math.floor(-duration * ((msg.season == \"off\") ? 2/3 : 1/2));\nmsg.offset.end = Math.floor(duration * ((msg.season == \"off\") ? 1/3 : 1/2));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":820,"wires":[["aa977ce.9e0bc8"]]},{"id":"1760779a.db8268","type":"comment","z":"e54b160f.e9e4f8","name":"Mode Automatique : Calcul des horaires de filtration et de nettoyage de la piscine","info":"","x":320,"y":620,"wires":[]},{"id":"e8e6c528.5d79d8","type":"api-current-state","z":"e54b160f.e9e4f8","name":"Récupération de la saison","server":"cfe85b65.cca4e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.swimming_season","state_type":"str","state_location":"season","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":230,"y":780,"wires":[["36f45a3b.b5e726"]]},{"id":"aa977ce.9e0bc8","type":"switch","z":"e54b160f.e9e4f8","name":"Est ce l'été ?","property":"season","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":880,"wires":[["7115b4c3.b1ed0c"],["22e50bc0.c54c44"]]},{"id":"ed2007a4.083a68","type":"cronplus","z":"e54b160f.e9e4f8","name":"CRON","outputField":"payload","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[],"x":750,"y":560,"wires":[["e016296b.35ad38","6ec13a00.431f98","36fd9668.a22dda"]]},{"id":"846aabe8.4aac38","type":"function","z":"e54b160f.e9e4f8","name":"Effacer les tâches","func":"msg.payload = {\n    \"command\": \"remove-all\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":660,"wires":[["ed2007a4.083a68"]]},{"id":"23421ff0.35042","type":"debug","z":"e54b160f.e9e4f8","name":"Debug CRON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":760,"wires":[]},{"id":"7115b4c3.b1ed0c","type":"function","z":"e54b160f.e9e4f8","name":"Ajout tâches d'hiver","func":"// On initialise notre liste de taches\nmsg.payload = [];\n\n// On ajout le CRON de démarrage de la piscine\nmsg.payload.push({\n    \"command\": \"add\",\n    \"topic\": \"start_filtration\",\n    \"name\": \"start_filtration\",\n    \"payloadType\": \"default\",\n    \"payload\": \"payload\",\n    \"type\": \"default\",\n    \"expressionType\": \"solar\",\n    \"solarType\": \"selected\",\n    \"solarEvents\": \"sunrise\",\n    \"location\": \"48.884544434795146 2.695956928655505\",\n    \"offset\": msg.offset.start\n});\n\n// On ajoute le CRON d'arrêt de la piscine\nmsg.payload.push({\n    \"command\": \"add\",\n    \"topic\": \"stop_filtration\",\n    \"name\": \"stop_filtration\",\n    \"payloadType\": \"default\",\n    \"payload\": \"payload\",\n    \"type\": \"default\",\n    \"expressionType\": \"solar\",\n    \"solarType\": \"selected\",\n    \"solarEvents\": \"sunrise\",\n    \"location\": \"48.884544434795146 2.695956928655505\",\n    \"offset\": msg.offset.end\n});\n\n// Affichage des tâches plannifiée\nmsg.payload.push({\n    \"command\": \"list-all\",\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":860,"wires":[["ed2007a4.083a68"]]},{"id":"22e50bc0.c54c44","type":"function","z":"e54b160f.e9e4f8","name":"Ajout tâches d'été","func":"// On initialise notre liste de taches\nmsg.payload = [];\n\n// On défini l'heure pivot\nvar pivot = new Date();\npivot.setHours(13, 0, 0, 0);\n\n// On calcul l'heure au format CRON de la mise en marche de la piscine\nvar startTime = new Date(pivot.getTime() + msg.offset.start * 60000);\nvar cronStart = startTime.getSeconds() + \" \" + startTime.getMinutes() + \" \" +  startTime.getHours() + \" * * * *\";\n\n// On calcul l'heure au format CRON de l'arret de la piscine\nvar endTime = new Date(pivot.getTime() + msg.offset.end * 60000);\nvar cronEnd = endTime.getSeconds() + \" \" + endTime.getMinutes() + \" \" +  endTime.getHours() + \" * * * *\";\n\n// On calcul l'heure au format CRON de l'arret de la piscine\nvar endTimeRobot = new Date(pivot.getTime() + (msg.offset.start + 150) * 60000);\nvar cronEndRobot = endTimeRobot.getSeconds() + \" \" + endTimeRobot.getMinutes() + \" \" +  endTimeRobot.getHours() + \" * * * *\";\n\n// On ajout le CRON de démarrage de la piscine\nmsg.payload.push({\n    \"command\": \"add\",\n    \"topic\": \"start_filtration\",\n    \"name\": \"start_filtration\",\n    \"payloadType\": \"default\",\n    \"payload\": \"payload\",\n    \"type\": \"default\",\n    \"expressionType\": \"cron\",\n    \"expression\": cronStart\n});\n\n// On ajoute le CRON d'arrêt de la piscine\nmsg.payload.push({\n    \"command\": \"add\",\n    \"topic\": \"stop_filtration\",\n    \"name\": \"stop_filtration\",\n    \"payloadType\": \"default\",\n    \"payload\": \"payload\",\n    \"type\": \"default\",\n    \"expressionType\": \"cron\",\n    \"expression\": cronEnd\n});\n\n// On ajout le CRON de démarrage du robot de piscine\nmsg.payload.push({\n    \"command\": \"add\",\n    \"topic\": \"start_robot\",\n    \"name\": \"start_robot\",\n    \"payloadType\": \"default\",\n    \"payload\": \"payload\",\n    \"type\": \"default\",\n    \"expressionType\": \"cron\",\n    \"expression\": cronStart\n});\n\n// On ajout le CRON d'arret du robot de piscine\nmsg.payload.push({\n    \"command\": \"add\",\n    \"topic\": \"stop_robot\",\n    \"name\": \"stop_robot\",\n    \"payloadType\": \"default\",\n    \"payload\": \"payload\",\n    \"type\": \"default\",\n    \"expressionType\": \"cron\",\n    \"expression\": cronEndRobot\n});\n\n// Affichage des tâches plannifiée\nmsg.payload.push({\n    \"command\": \"list-all\",\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":900,"wires":[["ed2007a4.083a68"]]},{"id":"e016296b.35ad38","type":"switch","z":"e54b160f.e9e4f8","name":"Commandes","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"start_filtration","vt":"str"},{"t":"eq","v":"stop_filtration","vt":"str"},{"t":"eq","v":"start_robot","vt":"str"},{"t":"eq","v":"stop_robot","vt":"str"},{"t":"eq","v":"switch_auto","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":950,"y":460,"wires":[["726902af.ecba0c"],["54b1762b.de7c18"],["44b21d05.9e9bb4"],["f20641b1.71883"],["b5a44d8e.d2a1d"]]},{"id":"726902af.ecba0c","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Start Filtration","server":"cfe85b65.cca4e8","version":1,"debugenabled":true,"service_domain":"switch","service":"turn_on","entityId":"switch.piscine_filtration","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":380,"wires":[[]]},{"id":"54b1762b.de7c18","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Stop Filtration","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.piscine_filtration","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1160,"y":420,"wires":[[]]},{"id":"44b21d05.9e9bb4","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Start Robot","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.piscine_surpresseur","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":460,"wires":[[]]},{"id":"f20641b1.71883","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Stop Robot","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.piscine_surpresseur","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1150,"y":500,"wires":[[]]},{"id":"7833840c.33350c","type":"comment","z":"e54b160f.e9e4f8","name":"Changer la saison de la piscine","info":"","x":170,"y":1240,"wires":[]},{"id":"3096bc3a.7299e4","type":"inject","z":"e54b160f.e9e4f8","name":"Eté","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":1280,"wires":[["a0d71e43.6bef4"]]},{"id":"ae0e7895.c95948","type":"inject","z":"e54b160f.e9e4f8","name":"Hiver","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":130,"y":1320,"wires":[["743bb49.595014c"]]},{"id":"743bb49.595014c","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Passage en mode : Hivernage","server":"cfe85b65.cca4e8","version":1,"debugenabled":true,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.swimming_season","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":1320,"wires":[[]]},{"id":"a0d71e43.6bef4","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Passage en mode : Eté","server":"cfe85b65.cca4e8","version":1,"debugenabled":true,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.swimming_season","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":330,"y":1280,"wires":[[]]},{"id":"b608ed80.ad76e","type":"inject","z":"e54b160f.e9e4f8","name":"Récupérer la liste des taches plannifiées","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"debug","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"list-all","payload":"","payloadType":"date","x":240,"y":1000,"wires":[["ed2007a4.083a68"]]},{"id":"6ec13a00.431f98","type":"switch","z":"e54b160f.e9e4f8","name":"Liste des tâches ?","property":"payload.command.command","propertyType":"msg","rules":[{"t":"eq","v":"list-all","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":600,"wires":[["92d75f07.26dc7"]]},{"id":"d98bc806.e95ab8","type":"api-call-service","z":"e54b160f.e9e4f8","name":"MAJ Texte Heures Filtration","server":"cfe85b65.cca4e8","version":1,"debugenabled":true,"service_domain":"input_text","service":"set_value","entityId":"input_text.pool_pump_hours","data":"{\"value\":msg.payload}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":680,"wires":[[]]},{"id":"92d75f07.26dc7","type":"function","z":"e54b160f.e9e4f8","name":"Récupération heures","func":"if (msg.payload.result.filter(elm => elm.config.name == \"stop_filtration\").pop() == undefined) {\n    // La piscine est en arrêt\n    msg.payload = \"-\";\n} else {\n    if (msg.payload.result.filter(elm => elm.config.name == \"switch_auto\").pop() == undefined) {\n        // On est en filtration automatique\n        var start = new Date(msg.payload.result.filter(elm => elm.config.name == \"start_filtration\").pop().status.nextDateTZ)\n        var end = new Date(msg.payload.result.filter(elm => elm.config.name == \"stop_filtration\").pop().status.nextDateTZ)\n        msg.payload = \"De \" + start.getHours() + \"h\" + (start.getMinutes() < 10 ? \"0\": \"\") + start.getMinutes() + \" à \" + end.getHours() + \"h\" + (end.getMinutes() < 10 ? \"0\": \"\") + end.getMinutes();\n    } else {\n        // On est en marche forcée\n        var end = new Date(msg.payload.result.filter(elm => elm.config.name == \"stop_filtration\").pop().status.nextDateTZ)\n        msg.payload = \"Arrêt le \" + (end.getDate() < 10 ? \"0\" : \"\") + end.getDate() + \"/\" + (end.getMonth() < 9 ? \"0\": \"\") + (end.getMonth() + 1) + \"/\" + end.getFullYear() + \" à \" + end.getHours() + \"h\" + (end.getMinutes() < 10 ? \"0\": \"\") + end.getMinutes();\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":640,"wires":[["d98bc806.e95ab8"]]},{"id":"4424ec80.483744","type":"delay","z":"e54b160f.e9e4f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":700,"wires":[["df7ae9c2.ee3e18"]]},{"id":"c6c339cf.b97078","type":"comment","z":"e54b160f.e9e4f8","name":"Mode Off : On arrete tous et on vide le CRON","info":"","x":210,"y":440,"wires":[]},{"id":"53b16ebf.cb726","type":"comment","z":"e54b160f.e9e4f8","name":"Mode Marche forcée : On défini la date de retour au mode automatique","info":"","x":290,"y":180,"wires":[]},{"id":"efd9cd79.b8803","type":"function","z":"e54b160f.e9e4f8","name":"Effacer les tâches","func":"// On initialise notre liste de taches\nmsg.payload = [];\n\n// On efface les tâches plannifiée\nmsg.payload.push({\n    \"command\": \"remove-all\",\n});\n\n// Affichage des tâches plannifiée\nmsg.payload.push({\n    \"command\": \"list-all\",\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":480,"wires":[["ed2007a4.083a68"]]},{"id":"de7b8c62.5a8eb","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Stop Filtration","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.piscine_filtration","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":220,"y":520,"wires":[[]]},{"id":"51d23c2a.0ae864","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Stop Robot","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.piscine_surpresseur","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":210,"y":560,"wires":[[]]},{"id":"36574321.8c548c","type":"comment","z":"e54b160f.e9e4f8","name":"Lister les tâches programmées","info":"","x":170,"y":960,"wires":[]},{"id":"b5093fa2.4742b","type":"server-state-changed","z":"e54b160f.e9e4f8","name":"Changement du mode de fonctionnement","server":"cfe85b65.cca4e8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.pool_pump","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":80,"wires":[["9ed36abe.bb0a68"]]},{"id":"e9d890ef.d83b","type":"comment","z":"e54b160f.e9e4f8","name":"A chaque changement de mode de fonctionnement où a 0h01 chaque jour, on met à jour le CRON","info":"","x":370,"y":40,"wires":[]},{"id":"640a9a26.4d8a54","type":"api-current-state","z":"e54b160f.e9e4f8","name":"Mode de fonctionnement","server":"cfe85b65.cca4e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pool_pump","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":120,"wires":[["18c2d6d7.1e4a49"]]},{"id":"d2e5a3e1.13734","type":"inject","z":"e54b160f.e9e4f8","name":"Chaque jour à 00:01","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":120,"wires":[["640a9a26.4d8a54"]]},{"id":"7bc7b6b6.dcf668","type":"switch","z":"e54b160f.e9e4f8","name":"Routage","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"Marche forcée","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"Automatique","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":880,"y":100,"wires":[["1240b502.db692b"],["3780896f.bddaf6"],["c5ae4368.5433f"]]},{"id":"9ed36abe.bb0a68","type":"function","z":"e54b160f.e9e4f8","name":"Mise en forme du message","func":"var mode = msg.payload;\nmsg = {};\nmsg.payload = {\n    state: mode,\n    type: \"new\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":80,"wires":[["7bc7b6b6.dcf668"]]},{"id":"18c2d6d7.1e4a49","type":"function","z":"e54b160f.e9e4f8","name":"Mise en forme du message","func":"var mode = msg.payload;\nmsg = {};\nmsg.payload = {\n    state: mode,\n    type: \"update\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["7bc7b6b6.dcf668"]]},{"id":"44370ca1.a6d834","type":"link in","z":"e54b160f.e9e4f8","name":"","links":["1240b502.db692b"],"x":55,"y":300,"wires":[["a1b4b70d.560208"]]},{"id":"1240b502.db692b","type":"link out","z":"e54b160f.e9e4f8","name":"","links":["44370ca1.a6d834"],"x":995,"y":60,"wires":[]},{"id":"9fd79e85.31482","type":"link in","z":"e54b160f.e9e4f8","name":"","links":["3780896f.bddaf6"],"x":55,"y":480,"wires":[["efd9cd79.b8803","de7b8c62.5a8eb","51d23c2a.0ae864"]]},{"id":"3780896f.bddaf6","type":"link out","z":"e54b160f.e9e4f8","name":"","links":["9fd79e85.31482"],"x":995,"y":100,"wires":[]},{"id":"462203dd.a45e1c","type":"link in","z":"e54b160f.e9e4f8","name":"","links":["c5ae4368.5433f"],"x":55,"y":660,"wires":[["846aabe8.4aac38","4424ec80.483744"]]},{"id":"c5ae4368.5433f","type":"link out","z":"e54b160f.e9e4f8","name":"","links":["462203dd.a45e1c"],"x":995,"y":140,"wires":[]},{"id":"a1b4b70d.560208","type":"switch","z":"e54b160f.e9e4f8","name":"Passage en marche forcée ?","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":300,"wires":[["e589b13.024115"]]},{"id":"b5a44d8e.d2a1d","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Passage en mode automatique","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.pool_pump","data":"{\"option\":\"Automatique\"}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":540,"wires":[[]]},{"id":"439a47e4.3c66c8","type":"server-state-changed","z":"e54b160f.e9e4f8","name":"Changement durée marche forcée","server":"cfe85b65.cca4e8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.pump_forced_duration","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":220,"wires":[["7cc7ebd6.cbccb4"]]},{"id":"e589b13.024115","type":"function","z":"e54b160f.e9e4f8","name":"Effacer les tâches","func":"msg.payload = {\n    \"command\": \"remove-all\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":300,"wires":[["ed2007a4.083a68","ea462805.f51258"]]},{"id":"ea462805.f51258","type":"delay","z":"e54b160f.e9e4f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":340,"wires":[["8887826c.383b9","3ad10e23.04cc52"]]},{"id":"8d006703.e14448","type":"function","z":"e54b160f.e9e4f8","name":"Calcul arrêt","func":"// On récupère la durée de la marche forcée\nvar offset = 1;\nswitch(msg.payload) {\n    case \"2 jours\":\n        offset = 2;\n        break;\n    case \"1 semaine\":\n        offset = 7;\n        break;\n}\n\n// On initialise notre liste de taches\nmsg.payload = [];\n\n// On calcul l'heure au format CRON de l'arrêt de la piscine\nvar now = new Date();\nvar endTime = new Date(now.getTime() + offset * 24 * 60 * 60000);\nvar cronEnd = endTime.getSeconds() + \" \" + endTime.getMinutes() + \" \" +  endTime.getHours() + \" \" +  endTime.getDate() + \" \" +  (endTime.getMonth() + 1) + \" * \" + endTime.getFullYear();\n\n// On ajout le CRON d'arret de la piscine\nmsg.payload.push({\n    \"command\": \"add\",\n    \"topic\": \"stop_filtration\",\n    \"name\": \"stop_filtration\",\n    \"payloadType\": \"default\",\n    \"payload\": \"payload\",\n    \"type\": \"default\",\n    \"expressionType\": \"cron\",\n    \"expression\": cronEnd\n});\n\n// On ajout le CRON de passage en automatique\nmsg.payload.push({\n    \"command\": \"add\",\n    \"topic\": \"switch_auto\",\n    \"name\": \"switch_auto\",\n    \"payloadType\": \"default\",\n    \"payload\": \"payload\",\n    \"type\": \"default\",\n    \"expressionType\": \"cron\",\n    \"expression\": cronEnd\n});\n\n\n// Affichage des tâches plannifiée\nmsg.payload.push({\n    \"command\": \"list-all\",\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":380,"wires":[["ed2007a4.083a68"]]},{"id":"a677f49c.6a5e78","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Passage en mode marche forcée","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.pool_pump","data":"{\"option\":\"Marche forcée\"}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":260,"wires":[[]]},{"id":"25b433f2.8a55fc","type":"switch","z":"e54b160f.e9e4f8","name":"Marche forcée ?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"Marche forcée","vt":"str"},{"t":"eq","v":"Marche forcée","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":260,"wires":[["a677f49c.6a5e78"],["e589b13.024115"]]},{"id":"7cc7ebd6.cbccb4","type":"api-current-state","z":"e54b160f.e9e4f8","name":"Mode de fonctionnement","server":"cfe85b65.cca4e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pool_pump","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":220,"wires":[["25b433f2.8a55fc"]]},{"id":"8887826c.383b9","type":"api-current-state","z":"e54b160f.e9e4f8","name":"Durée marche forcée","server":"cfe85b65.cca4e8","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.pump_forced_duration","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":380,"wires":[["8d006703.e14448"]]},{"id":"3ad10e23.04cc52","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Start Filtration","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.piscine_filtration","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":400,"y":340,"wires":[[]]},{"id":"36fd9668.a22dda","type":"switch","z":"e54b160f.e9e4f8","name":"Liste des tâches ?","property":"debug","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":760,"wires":[["23421ff0.35042"]]},{"id":"b03f3a6c.b0a988","type":"comment","z":"e54b160f.e9e4f8","name":"Pilotage électrolyseur de seil","info":"","x":160,"y":1100,"wires":[]},{"id":"a42417fb.d2ed38","type":"server-state-changed","z":"e54b160f.e9e4f8","name":"Changement du niveau d'ORP","server":"cfe85b65.cca4e8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.pool_orp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":1140,"wires":[["fb1f6b24.1f6a38"]]},{"id":"fb1f6b24.1f6a38","type":"switch","z":"e54b160f.e9e4f8","name":"Routage ORP","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"675","vt":"str"},{"t":"gte","v":"750","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":1140,"wires":[["fed9f67e.5a8c88"],["8c5b2125.ac383"]]},{"id":"fed9f67e.5a8c88","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Start Electrolyseur","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.piscine_electrolyseur_sel","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":1120,"wires":[[]]},{"id":"8c5b2125.ac383","type":"api-call-service","z":"e54b160f.e9e4f8","name":"Stop Electrolyseur","server":"cfe85b65.cca4e8","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.piscine_electrolyseur_sel","data":"","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":1160,"wires":[[]]},{"id":"cfe85b65.cca4e8","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]